<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Persons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of persons</h2>

<table border="1">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>

    <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.firstName}"></td>
        <td th:text="${person.lastName}"></td>
    </tr>
</table>
<a href="/persons/newPerson">Add new person </a>
</body>
</html>